[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
whitenoise = "*"
python-dotenv = "*"
django-quill-editor = "*"
pillow-avif-plugin = "*"
django-unfold = "*"
django-compressor = "*"
faker = "*"
unidecode = "*"
python-slugify = "*"
django-htmlmin = "*"

[dev-packages]

[requires]
python_version = "3.12"
