{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}News{% endblock title %}</title>
    <meta name="description" content="{% block description %}News{% endblock description %}">
    <meta name="keywords" content="{% block keywords %}News{% endblock keywords %}">
    <meta name="author" content="{% block author %}Hasib{% endblock author %}">

    <link rel="icon" type="image/x-icon" href="{% static 'src/favicon.ico' %}">
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{% block og_title %}News{% endblock og_title %}">
    <meta property="og:description" content="{% block og_description %}News{% endblock og_description %}">
    <meta property="og:image" content="{% block og_image %}{% endblock og_image %}">
    <meta property="og:url" content="{% block og_url %}{% endblock og_url %}">
    <meta property="og:type" content="website">




    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <link rel="stylesheet" href="{% static 'src/custom.css' %}">
    {% endcompress %}

 
</head>

<body class="">
    <nav class="bg-red-700">
        <div class="max-w-6xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="flex justify-between items-center h-16 ">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <span class="text-2xl text-white font-semibold">Newssite</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white border border-gray-200">
            <div class="max-w-6xl mx-auto px-2 sm:px-6 lg:px-8">
                <div class="flex justify-between items-center h-14">
                    <div class="hidden md:flex space-x-10">
                        <a href="#" class="navbar-link">Home</a>
                        {% if exclusive_category %}
                        <a href="#" class="navbar-link">{{exclusive_category}}</a>
                        {% endif %}
                        {% for category in categories %}
                        <a href="#" class="navbar-link">{{category}}</a>
                        {% endfor %}
                    </div>

                    <div class="-mr-2 flex md:hidden">
                        <button data-collapse-toggle="mobile-menu" type="button" class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-gray-500 focus:outline-none" aria-controls="mobile-menu" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="hidden md:hidden" id="mobile-menu">
                <div class="px-2 pt-2 pb-3 space-y-1">
                    <a href="#" class="block text-gray-700 hover:text-blue-500">Home</a>
                    <a href="#" class="block text-gray-700 hover:text-blue-500">News</a>
                    <a href="#" class="block text-gray-700 hover:text-blue-500">Culture</a>
                    <a href="#" class="block text-gray-700 hover:text-blue-500">About</a>
                </div>
            </div>
        </div>
    </nav>


    <!-- Content -->
     
    <div class="max-w-6xl mx-auto px-2 sm:px-6 lg:px-8 mt-4 mb-4">
        
      
        {% block content %} {% endblock content %}
    </div>


     <!-- Footer -->
     <footer>
        <!-- Red Row with Logo -->
        <div class="bg-red-700 py-4">
            <div class="max-w-6xl mx-auto px-2 sm:px-6 lg:px-8 ">
                <div class="flex-shrink-0">
                    <span class="text-2xl text-white font-semibold">Newssite</span>
                </div>
            </div>
        </div>

        <!-- Gray Background Row -->
        <div class="bg-zinc-800 text-white py-8">
            <div class="max-w-6xl mx-auto px-2 sm:px-6 lg:px-8">
                <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
                    <div>
                        <h5 class="font-bold mb-4">About Us</h5>
                        <ul class="space-y-2">
                            <li><a href="#" class="hover:underline">Our Story</a></li>
                            <li><a href="#" class="hover:underline">Careers</a></li>
                            <li><a href="#" class="hover:underline">Contact Us</a></li>
                        </ul>
                    </div>
                    <div>
                        <h5 class="font-bold mb-4">Categories</h5>
                        <ul class="space-y-2">
                            <li><a href="#" class="hover:underline">News</a></li>
                            <li><a href="#" class="hover:underline">Culture</a></li>
                            <li><a href="#" class="hover:underline">Technology</a></li>
                        </ul>
                    </div>
                    <div>
                        <h5 class="font-bold mb-4">Follow Us</h5>
                        <ul class="flex space-x-4">
                            <li><a href="#"><img src="" alt="Facebook" class="w-6 h-6"></a></li>
                            <li><a href="#"><img src="" alt="Twitter" class="w-6 h-6"></a></li>
                            <li><a href="#"><img src="" alt="Instagram" class="w-6 h-6"></a></li>
                        </ul>
                    </div>
                    <div>
                        <h5 class="font-bold mb-4">Legal</h5>
                        <ul class="space-y-2">
                            <li><a href="#" class="hover:underline">Privacy Policy</a></li>
                            <li><a href="#" class="hover:underline">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="mt-8 border-t border-gray-600 pt-4 text-center">
                    <p>© 2024 Your Company Name. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>

</html>