{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-6">
    <!-- Left Section - Main Article -->
    <div class="col-span-2 space-y-6 bg-white p-6 rounded-lg ">
        
        <!-- Article Title, Author, and Timestamp -->
        <div>
            <h1 class="text-3xl font-bold text-gray-800">{{ article.title }}</h1>
            <div class="text-sm text-gray-500 mt-2">
                By <span class="font-semibold">{{ article.author.username }}</span> | {{ article.created_at|date:"F j, Y, g:i A" }}
            </div>
        </div>

        <!-- Article Thumbnail Image -->
        {% if article.thumbnail %}
        <div>
            <img src="{{ article.thumbnail.url }}" alt="{{ article.title }}" class="w-full h-64 object-cover rounded-md shadow-lg">
        </div>
        {% endif %}


        <!-- Article Content Blocks -->
        <div class="prose max-w-none">
            {% for content in article.contents.all %}
            <div class="mb-6">
                {% if content.title %}
                <h2 class="text-2xl font-bold text-gray-800">{{ content.title }}</h2>
                {% endif %}



                <div class="text-gray-800 mt-6">
                    {{ content.content.html|safe }} <!-- QuillField content is HTML safe -->
                </div>

                {% if content.image %}
                    <img src="{{ content.image.url }}" alt="{{ content.image_title }}" class="w-full h-80 object-cover rounded-md shadow-md my-4">
                    <blockquote class="pl-4 border-l-2 border-gray-400 my-2 mb-4">
                        <p class="text-gray-600">{{ content.image_title }}</p>
                    </blockquote>
                    
               
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <!-- Tags -->
        {% if article.get_tags_list %}
        <div>
            <h3 class="text-lg font-semibold mb-2">Tags:</h3>
            <div class="flex flex-wrap space-x-2">
                {% for tag in article.get_tags_list %}
                <a href="{% url "articles_by_tags" tag %}" class="text-sm bg-gray-200 text-gray-700 py-1 px-3 rounded-lg">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Right Section - The Latest News -->
    <div class="space-y-6">
        <div class="bg-white p-6 rounded-lg ">
            {% include "components/most_read.html" %}
        </div>
    </div>
</div>


<div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-6">
    <!-- Left Section - Featured Category -->
    <div class="col-span-2">
        <h2 class="text-2xl font-bold mb-4">Related Articles <span class="font-black">{{ category_name }}</span></h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for article in related_articles %}
            <a class="block" href="{{ article.get_absolute_url }}">
                <div class="bg-white   overflow-hidden">
                    {% if article.thumbnail %}
                    <img src="{{ article.thumbnail.url }}" alt="{{ article.title }}" class="w-48 h-48 object-cover rounded mx-auto">
                    {% else %}
                    <img src="{% static 'img/ajker-saradin.jpg' %}" alt="{{ article.title }}" class="w-48 h-48 object-cover rounded mx-auto">
                    {% endif %}
                    <div class="p-4">
                        <h3 class="text-lg font-semibold hover:underline">{{ article.title }}</h3>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <!-- Right Section - The Latest News -->
    <div>
        <h2 class="text-2xl font-bold mb-4">The Latest</h2>
        <div class="space-y-4">
            {% for news in latest_article %}
            <a class="block" href="{{ news.get_absolute_url }}">
                <div class="flex flex-col border-b pb-4">
                    <span class="text-xs text-gray-500">{{ news.timestamp|date:"g:i A P" }}</span>
                    <h3 class="text-lg font-semibold hover:underline">{{ news.title }}</h3>
                </div>
            </a>
            
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
