{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4">
    <h1 class="text-3xl font-bold mt-8">{{ category.title }}</h1>
    <p class="text-gray-600 mt-2">{{ category.description }}</p>

    <div class="mt-6">
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-4">
            {% for article in page_obj %}
            <a href="{{ article.get_absolute_url }}" class="block">
                <div class="bg-white  overflow-hidden">
                    {% if article.thumbnail %}
                    <img src="{{ article.thumbnail.url }}" alt="{{ article.title }}" class="w-full h-48 object-cover rounded-lg">
                    {% else %}
                    <img src="{% static 'img/ajker-saradin.jpg' %}" alt="Default image" class="w-full h-48 object-cover rounded-lg">
                    {% endif %}
                    <div class="p-4">
                        <h3 class="text-lg font-bold hover:underline">{{ article.title }}</h3>
               
                    </div>
                </div>
            </a>
            {% empty %}
            <p class="text-gray-500">No articles found in this category.</p>
            {% endfor %}
        </div>
    </div>

    <div class="mt-6">
        {% if page_obj.has_other_pages %}
        <nav class="flex justify-between ">
            <div class="flex items-center gap-3">
                {% if page_obj.has_previous %}
                <a href="?page=1" class=" font-semibold bg-red-700 text-white  rounded-md px-3 py-1">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m17 16-4-4 4-4m-6 8-4-4 4-4"/>
                    </svg>
                </a>
                <a href="?page={{ page_obj.previous_page_number }}" class=" font-semibold bg-red-700 text-white  rounded-md px-3 py-1">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14 8-4 4 4 4"/>
                    </svg>

                </a>
                {% endif %}
            </div>
            <div class="flex items-center gap-3">
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class=" font-semibold bg-red-700 text-white  rounded-md px-3 py-1 flex ">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 16 4-4-4-4"/>
                    </svg>

                    </a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class=" font-semibold bg-red-700 text-white  rounded-md px-3 py-1">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 16 4-4-4-4m6 8 4-4-4-4"/>
</svg>

                </a>
                {% endif %}
            </div>
        </nav>
        {% endif %}
    </div>
</div>
{% endblock %}