{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <!-- First Half: Single Card -->
    {% if first_article %}
    <div class="bg-white overflow-hidden">
        {% if first_article.thumbnail %}
        <img src="{{ first_article.thumbnail.url }}" alt="{{ first_article.title }}" class="w-full h-64 object-cover rounded-md">
        {% else %}
        <img src="{% static 'img/ajker-saradin.jpg' %}" alt="{{ first_article.title }}" class="w-full h-64 object-cover rounded-md">
        {% endif %}
        <div class="pt-4 pb-4">
            <a href="{{ first_article.slug }}" class="text-gray-800 hover:underline text-2xl font-bold mb-2">{{ first_article.title }}</a>
            <p class="text-gray-700">{{ first_article.summary }}</p>
        </div>
    </div>

    <!-- Second Half: Two Cards -->
    <div class="grid grid-cols-2 gap-3">
        {% for news in second_articles %}
        <div class="bg-white overflow-hidden items-start">
            {% if news.thumbnail %}
            <img src="{{ news.thumbnail.url }}" alt="{{ news.title }}" class="w-48 h-48 object-cover mx-auto rounded-md">
            {% else %}
             <img src="{% static 'img/ajker-saradin.jpg' %}" alt="{{ first_article.title }}" class="w-48 h-48 object-cover mx-auto rounded-md">
            {% endif %}
            <div class="p-4">
                <a href="{{ news.slug }}" class="text-gray-800 hover:underline text-lg font-bold mb-2">{{ news.title }}</a>
                <p class="text-gray-700">{{ news.summary }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<hr class="border-t border-gray-600 border-dashed">

<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-6 mb-6">
    {% for news in third_articles %}
    <div class="bg-white overflow-hidden">
        <div class="flex items-start">
            {% if news.thumbnail %}
            <img src="{{ news.thumbnail.url }}" alt="{{ news.title }}" class="w-16 h-16 object-cover mr-4 rounded-md">
            {% else %}
             <img src="{% static 'img/ajker-saradin.jpg' %}" alt="{{ first_article.title }}" class="w-16 h-16 object-cover mr-4 rounded-md">
            {% endif %}
            <a href="{{ news.slug }}" class="text-gray-800 hover:underline text-lg font-bold mb-2">{{ news.title }}</a>
        </div>
        <p class="text-gray-700 mt-2">{{ news.summary }}</p>
    </div>
    {% endfor %}
</div>


 <div class="mt-6 ">
    <h1 class="text-start text-xl font-bold mt-2">Featured Articles</h1>
               
<div class="grid grid-cols-1 lg:grid-cols-2 gap-8  mt-6">
    <!-- Left Column: Main content (Image and Headline) -->
    <div class="flex flex-col items-center lg:items-start">
        {% if main_article %}
            {% if main_article.thumbnail %}
                <img src="{{ main_article.thumbnail.url }}" alt="{{ main_article.title }}" class="w-full h-64 object-cover rounded-md">
            {% else %}
                <img src="{% static 'img/ajker-saradin.jpg' %}" alt="{{ main_article.title }}" class="w-full h-64 object-cover rounded-md">
            {% endif %}
            <a href="{{ main_article.slug }}" class="text-gray-800 hover:underline text-3xl font-bold mb-2 pt-4">{{ main_article.title }}</a>
            <p class="mt-2 text-lg">
                {{ main_article.summary }}
            </p>
            <p class="mt-1 text-sm text-gray-500">By {{ main_article.author.username }}</p>
        {% endif %}
    </div>

    <!-- Right Column: List of additional articles -->
    <div class="space-y-8">
        {% for article in additional_articles %}
            <div class="flex items-start justify-between border-b pb-4">
                <div class="w-3/4">
                    <a href="{{ article.slug }}" class="text-gray-800 hover:underline text-xl font-bold mb-2">{{ article.title }}</a>
                    <p class="mt-2 text-sm text-gray-500">{{ article.summary }}</p>
                </div>
                {% if article.thumbnail %}
                    <img src="{{ article.thumbnail.url }}" alt="{{ article.title }}"  class="w-16 h-16 object-cover mr-4 rounded-md">
                 {% else %}
                <img src="{% static 'img/ajker-saradin.jpg' %}" alt="{{ first_article.title }}" class="w-16 h-16 object-cover mr-4 rounded-md">
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
</div>

<div class="mt-4">
    {% for category_data in categories_with_articles %}
        <div class="category-section mb-10">
            <div class="flex justify-between items-center mb-4">
                <h1 class="text-center text-xl font-bold mt-2">{{ category_data.category.title }}</h1>
                <a href="#" class="font-light underline">MORE</a>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                {% for article in category_data.articles %}
                    <div class="article bg-white  rounded-lg p-4 ">
                        {% if article.thumbnail %}
                            <img src="{{ article.thumbnail.url }}" alt="{{ article.title }}" class="w-full h-48 object-cover rounded-md mb-2">
                              {% else %}
                            <img src="{% static 'img/ajker-saradin.jpg' %}" alt="{{ first_article.title }}" class="w-full h-48 object-cover rounded-md mb-2">
                        {% endif %}
                        <h3 class="text-lg font-semibold mb-2">
                            <a href="{{ article.slug }}" class="text-gray-800 hover:underline">{{ article.title }}</a>
                        </h3>

                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

{% include "components/most_read.html" %}
{% endblock %}